<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Handy Angular Components</a>
    </div>
    <div id="navbar" class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Docs</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dropdown">Dropdown</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/datepicker">Datepicker</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/mixed">Mixed</a>
        </li>
        <li class="github-link">
          <a href="https://github.com/joanjane/handy-angular-components" aria-label="Star joanjane/handy-angular-components on GitHub"><i class="fa fa-github"></i> Star</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>