<div class="demo-mix">
    <form class="demo-mix-form" [formGroup]="form" (submit)="onSubmit($event)" novalidate>

        <div class="demo-mix-formgroup">
            <div class="demo-mix-formcontrol">
                <label class="demo-mix-label" for="demo-mix-dropdown" hacLabelFocus="focused">Select a number:</label>
                <hac-dropdown [optionGroups]="dropdownList" [id]="'demo-mix-dropdown'"
                    formControlName="number"
                    [filtrable]="true"
                    [allowEmpty]="true"></hac-dropdown>

                <ul class="demo-mix-errors" *ngIf="(submitted || form.get('number').touched)&& form.get('number')?.invalid">
                    <li *ngIf="form.get('number')?.errors?.required">
                        Select a number
                    </li>
                </ul>
            </div>
            <div class="demo-mix-formcontrol">
                <label class="demo-mix-label" for="demo-mix-datepicker" hacLabelFocus="focused">Select a range:</label>
                <hac-datepicker
                    formControlName="dates"
                    [options]="datepickerOptions"></hac-datepicker>

                <ul class="demo-mix-errors" *ngIf="(submitted || form.get('dates').touched) && form.get('dates')?.invalid">
                    <li *ngIf="form.get('dates').errors?.startDateRequired">
                        Select a start date.
                    </li>
                    <li *ngIf="form.get('dates').errors?.endDateRequired">
                        Select an end date.
                    </li>
                </ul>
            </div>
        </div>
        <div class="demo-mix-formgroup">
            <div class="demo-mix-formcontrol">
                <label class="demo-mix-label" for="demo-mix-singledatepicker" hacLabelFocus="focused">Select a single date:</label>
                <hac-datepicker
                    formControlName="singleDate"
                    [options]="singleDatepickerOptions"></hac-datepicker>

                <ul class="demo-mix-errors" *ngIf="(submitted || form.get('singleDate').touched) && form.get('singleDate').invalid">
                    <li *ngIf="form.get('singleDate').errors?.required">
                        Select a date.
                    </li>
                </ul>
            </div>
        </div>
        <div class="demo-mix-formgroup">
            <div class="demo-mix-formcontrol">
                <button class="btn btn-primary btn-sm"
                    [ngClass]="{'btn-danger': submitted && form.invalid}">Submit</button>
            </div>
        </div>
    </form>
    <pre>{{ form.value | json}}</pre>

    <div>
        <button class="btn btn-default btn-primary btn-sm" (click)="forceFirstDropdownOption()">Choose first dropdown option</button>
    </div>
</div>