<div>
     <div id="datepickersimple">
        <h2>Datepicker for single dates, custom selected date format</h2>

        <div>
            Using date outside component ({{selectedSingleDate | date : 'yyyy-MM-dd'}})
            <div class="btn-group">
              <button class="btn btn-default btn-primary btn-sm" (click)="testFiveMonthsOnSingleDemo()">Show 5 months</button>
              <button class="btn btn-default btn-primary btn-sm" (click)="forceMarchMonthOnSingleDemo()">Show March</button>
            </div>
            <br/>
            <div class="medium-width">
                <hac-datepicker [(selected)]="selectedSingleDate" [options]="datepickerSingleOptions"></hac-datepicker>
            </div>
        </div>
    </div>

    <div id="datepicker-ranges">
        <h2>Datepicker with start-end ranges, blacklist and min/max allowed dates</h2>

        <div>
            Using date outside component ({{selectedStartDate | date : 'yyyy-MM-dd'}} - {{selectedEndDate | date : 'yyyy-MM-dd'}})
            <button class="btn btn-default btn-primary btn-sm" (click)="forceTodayOnBlacklistDemo()">Try force today</button><br/>
            <div class="medium-width">
                <hac-datepicker [(startDate)]="selectedStartDate" [(endDate)]="selectedEndDate" [options]="datepickerOptions"></hac-datepicker>
            </div>
        </div>
    </div>

    <div id="datepicker-whitelist">
        <h2>Datepicker with white list mode</h2>

        <div>
            Using date outside component ({{selectedStartDateWhitelist | date : 'yyyy-MM-dd'}})
            <button class="btn btn-default btn-primary btn-sm" (click)="forceTodayOnWhitelistDemo()">force today</button><br/>
            <div class="medium-width">
                <label for="{{datepickerWhitelistOptions.elementId}}">Select date (click this label to toggle datepicker)</label>
                <hac-datepicker [(startDate)]="selectedStartDateWhitelist" [(endDate)]="selectedEndDateWhitelist" [options]="datepickerWhitelistOptions"></hac-datepicker>
            </div>
        </div>
    </div>

    <div id="datepickerminmax">
        <h2>Datepicker with future min max range</h2>

        <div>
            Using date outside component ({{selectedMinMaxDate | date : 'yyyy-MM-dd'}})
            <button class="btn btn-default btn-primary btn-sm" (click)="testMinMaxPastRanges()">test past ranges</button>
            <br/>
            <div class="medium-width">
                <hac-datepicker [(selected)]="selectedMinMaxDate" [options]="datepickerMinMaxOptions"></hac-datepicker>
            </div>
        </div>
    </div>

    <h2>More examples:</h2>
    <p>
        Looging for reactive forms example? <a routerLink="/mixed">Look at mixed demo.</a>
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>