$break-small: 640px;

.demo-mix {
    margin: 0 auto;
    max-width: 1280px;

    &-formgroup {
        display: flex;

        @media screen and (max-width: $break-small) {
            display: block;
        }
    }

    &-formcontrol {
        flex: 1 0 0;
        padding: 0.48rem;
    }

    &-label {
        display: block;
        font-weight: bold;
        padding-bottom: 0.62rem;

        &.focused {
            color: blue;
        }
    }

    &-errors {
        color: #dc6e6e;      
        list-style: none;  
        margin: 0;
        padding: 0;
    }
}