<div>
    <div id="datepickersimple">
        <h2>Datepicker</h2>

        <div>
            Using date outside component ({{selectedDate | date : 'yyyy-MM-dd'}}) <br/>
            <div style="max-width: 300px;">
                <hac-datepicker [(selected)]="selectedDate" [options]="datepickerOptions"></hac-datepicker>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>